<aside id="sidebar" class="scrollbar">

    <ul>
        {% for key, navigation in template.cp.navigation %}
            <li class="{{ navigation.active ? 'active' }} variant-border" data-slug="{{ navigation.slug }}">
                <a {{ html_attributes(navigation.attributes) }} title="{{ trans(navigation.title) }}">
                    {% if navigation.icon.output() %}
                        {{ navigation.icon ? navigation.icon.output() | raw : 'fa fa-puzzle-piece' }}
                    {% else %}
                        {{ icon(navigation.icon ?: 'fa fa-puzzle-piece') }}
                    {% endif %}
                    <span>{{ trans(navigation.title) }}</span>
                </a>
                {% if navigation.active and count(template.cp.sections.root()) > 1 %}
                    <ul class="sub-navigation">
                        {% for section in template.cp.sections.root() %}

                            {% if section.label %}
                                <li class="section-label">
                                    <i class="fa fa-circle-o"></i>
                                    <span>{{ trans(section.label)|raw }}</span>
                                </li>
                            {% endif %}

                            <li class="{{ section.highlighted ? 'active' }} {{ section.class }}">
                                <a {{ html_attributes(section.attributes) }}>
                                    <i class="fa fa-circle-o"></i>
                                    <span>{{ trans(section.title)|raw }}</span>
                                </a>
                            </li>
                        {% endfor %}
                    </ul>
                {% endif %}
            </li>
        {% endfor %}
    </ul>

</aside>
